@import url(global.css);

body{
    display: grid;
    grid-template-rows: auto 27rem 1fr;
    /* grid-template-rows: auto 27rem 1fr 15rem; */
    overflow-x: hidden;
}
.slider-container{
    background-color: bisque;
}
.fav-container{
    background-color: #3b5f34;
}
/* .footer-container{
    background-color: #191d16;
} */

/* slider propiedades */
.slider-container{
    width: 70%;
    margin: auto;
    /* overflow: scroll;
    overflow-y: hidden; */
    position: relative;
}
.slider{
    display: flex;
    width: 500%;
    margin-left: -200%;
}
.slider-item{
    width: 100%;
    height: 27rem;
}
.slider-item img{
    width: 100%;
    height: 27rem;
    object-fit: cover;
}
.slider-item-cont{
    background-color: hsla(0, 0%, 100%, 0.844);
    position: relative;
    bottom: 300px;
    left: 100px;
    height: 200px;
    width: 200px;
}
.slider-btn{
    position: absolute;
    height: 8rem;
    top: 35%;
    opacity: .7;
    transition: .2s;
}
.slider-btn--left{
    left: 1rem;
}
.slider-btn--right{
    right: 1rem;
}
.slider-btn:hover{
    opacity: 1;
}

/* fav section */
.fav-container{
    background-image: url("../img/bgHome.png");
    color: white;
}
.fav-box{
    width: 70%;
    margin: auto;
    background-image: url("../img/bgFavBox.png");
    padding: 20px;
}
.fav-box h1{
    font-size: 4rem;
    font-weight: 900;
}
.cards-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 3rem;
    margin-top: 20px;
}
.card{
    background-color: var(--c-pri);
    color: rgba(0, 0, 0, 0.685);
    border-radius: 35px;
}
.card img{
    width: 100%;
    height: 200px;
    border-radius: 35px;
    object-fit: cover;
}
.card-info{
    display: grid;
    padding: 10px;
    padding-top: 3px;
    padding-bottom: 18px;
}
.card h1{
    color: var(--c-sec);
    font-weight: 900;
    font-size: 2.5rem;
}
.card p{
    display: block;
    font-size: 1.25rem;
    margin-bottom: 10px;
}
.card button{
    background-color: var(--c-sec);
    border: none;
    color: var(--c-pri);
    width: 100px;
    font-size: 1.5rem;
    padding: 5px;
    justify-self: end;
    border-radius: 12px;
    position: relative;
    margin-right: 10px;
    /* margin: 5px;
    margin-top: 10px; */
}