@import url(global.css);

body{
    display: grid;
    grid-template-rows: auto 27rem 1fr;
    /* grid-template-rows: auto 27rem 1fr 15rem; */
    overflow-x: hidden;
}
.slider-container{
    background-color: bisque;
}
.fav-container{
    background-color: #3b5f34;
}
/* .footer-container{
    background-color: #191d16;
} */

/* slider propiedades */
.slider-container{
    width: 70%;
    margin: auto;
    /* overflow: scroll;
    overflow-y: hidden; */
    position: relative;
}
.slider{
    display: flex;
    width: 500%;
    margin-left: -200%;
}
.slider-item{
    width: 100%;
    height: 27rem;
}
.slider-item img{
    width: 100%; 
    height: 27rem;
    object-fit: cover;
}
.slider-item-cont{
    display: grid;
    position: relative;
    bottom: 287px;
    margin: auto 15%;
    height: 20rem;
}
.slider-item-info{
    background-color: rgba(255, 255, 255, 0.699);
    padding: 10px 20px;
    border-radius: 20px;
    align-self: start;
    /* max-width: 60%; */
}
.slider-item-info h1{
    color: var(--c-sec);
    font-weight: 900;
    font-size: 3rem;
}
.slider-item-info h2{
    color: black;
    font-weight: 600;
    font-size: 1.7rem;
}
.slider-item-cont button{
    align-self: flex-end;
    justify-self: end;

    background-color: var(--c-pri);
    border: none;
    font-weight: 900;
    color: var(--c-sec);
    font-size: 2rem;
    padding: 10px 15px;
    border-radius: 12px;
    opacity: .7;
}
.slider-item-cont button:hover{
    color: var(--c-pri);
    background-color: var(--c-sec);
    opacity: 1;
}


.slider-btn{
    position: absolute;
    height: 8rem;
    top: 35%;
    opacity: .7;
    transition: .2s;
}
.slider-btn--left{
    left: 1rem;
}
.slider-btn--right{
    right: 1rem;
}
.slider-btn:hover{
    opacity: 1;
}

/* fav section */
.fav-container{
    background-image: url("../img/bgHome.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
}
.fav-box{
    width: 70%;
    margin: auto;
    background-image: url("../img/bgFavBox.png");
    padding: 20px;
}
.fav-box h1{
    font-size: 4rem;
    font-weight: 900;
}
.cards-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 3rem;
    margin-top: 20px;
}
.card{
    background-color: var(--c-pri);
    color: rgba(0, 0, 0, 0.685);
    border-radius: 35px;
}
.card img{
    width: 100%;
    height: 200px;
    border-radius: 35px;
    object-fit: cover;
}
.card-info{
    display: grid;
    padding: 10px;
    padding-top: 3px;
    padding-bottom: 18px;
}
.card h1{
    color: var(--c-sec);
    font-weight: 900;
    font-size: 2.5rem;
}
.card p{
    display: block;
    font-size: 1.5rem;
    margin-bottom: 10px;
}
.card button{
  background-color: var(--c-sec);
  border: none;
  color: var(--c-pri);
  width: 100px;
  font-size: 1.5rem;
  padding: 10px 15px;
  justify-self: end;
  border-radius: 12px;
  position: relative;
  margin-right: 10px;
}
.sale-dt{
  display: flex;
  justify-content: space-between;
}
.sale-dt h2{
  margin-left: 10px;
}
.sale-dt b{
  font-size: 2.5rem;
}